<ion-header>
  <ion-toolbar color="primary">
    <ion-title>ALO</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="wrapper">
    <ion-slides *ngIf="banners && banners.length" autoplay="3000" loop="true" speed="500" pager="true">
      <ion-slide *ngFor="let b of banners">
        <img [src]="b.Image" class="bannerImg" />
      </ion-slide>
    </ion-slides>
  </div>


  <ion-grid>
    <ion-row>
      <ion-col class="catCol" (click)="showProducts(c)" *ngFor="let c of cats" size="4">
        {{c.Name}}
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>